[submodule ".config/picom"]
	path = .config/picom
	url = https://github.com/Jxstxs/picom-config.git
[submodule ".config/sxhkd"]
	path = .config/sxhkd
	url = https://github.com/Jxstxs/sxhkd-config.git
