.npm
Downloads
.minecraft
.pki
.cache
.local/share/nvim/mason
.local/share/nvim/site
.local/share/icons
.local/share/qutebrowser
.local/share/applications
.local/lib
.local/include
.local/state
.config/google-chrome
.config/discord
.config/Signal
.config/gnome-pie
.config/cef_user_data
.config/xournalpp
.cargo
.gnome
.java
.wakatime
