[submodule ".local/src/oh-my-zsh"]
	path = .local/src/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Jxstxs/nvimconf
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule ".gits/other/yay"]
	path = .gits/other/yay
	url = https://aur.archlinux.org/yay.git
[submodule ".gits/other/neovim"]
	path = .gits/other/neovim
	url = https://github.com/neovim/neovim
[submodule ".gits/personal/4583a041bd77656cc86d4f7d13b62a62"]
	path = .gits/personal/4583a041bd77656cc86d4f7d13b62a62
	url = https://gist.github.com/Jxstxs/4583a041bd77656cc86d4f7d13b62a62
