.git-credentials

.Xauthority
.cache/
.cargo/
.gnome/
.gnupg/
.local/
.lyxauth
.npm/
.pki/
.python_history
.viminfo
.wakatime-internal.cfg
.wakatime.bdb
.wakatime.cfg
.wakatime.log
.wakatime/
.wget-hsts
.zsh_history
.zshrc
Downloads/
TODO
.stuff/share
.minecraft
.repos/other
